/*************************************************
 * Description: Old browsers stylesheet
 * Author: Ashley Callahan
 * Author URI: http://www.ashleycallahan.net
 * Version: 1.0
 ************************************************/

/****************************************
 * Header
 ****************************************/

header {
	width: 960px;
}


/****************************************
 * Navigation
 ****************************************/

nav ul {
	width: 960px;	
}


/****************************************
 * Sections
 ****************************************/

.section-content {
	width: 960px;
}


/****************************************
 * About
 ****************************************/

#about .section-content {
	width: 680px;
}
#about img {
	width: 250px;
}
#about .about-awards {
	width: 250px;
}


/****************************************
 * Footer
 ****************************************/
 
footer {
	width: 960px;
}